section {
    margin: 0 auto;
    width: 20%;

}


table {
    border-spacing: 0;
}


td {
    border: 1px;
    padding: 15px;
}

.yellow {
    background: yellow;
    padding: 15px;

}

.gray {
    background: gray;
    padding: 15px;
}

.black {
    background: black;
    padding: 15px;
}

.blue {
    background: blue;
    padding: 15px;
}
