body {
    font-size: 25px;
}

h1 {
    background-color: darkslategray;
    color: white;
}

section p {
    color: red; /* tous les <p> à l'intérieur de la balise <section</> */
}

section p:first-child {
    color: darkblue; /*premier <p> */
}

section p:last-child {
    color: lightgreen; /*dernier <p> */
}

section p:nth-child(even) {
    color: lightblue; /* les <p> pairs*/
}

section p:nth-child(odd) {
    color: brown; /* Les <p> impairs */
}
