body {
    width: 80%;
    margin: 10px auto;
    font-family: cursive;
}

#contenu {
    background: red;

}

header, footer {
    height: 80px;
    background-color: #EDA489;
    color: #fff;
    text-align: center;
    padding-top: 6px;
}

nav {
    height: 40px;
    background: #D15555;
    color: #fff;
    padding-left: 20px;
    padding-top: 6px;
}

section {
    height: 500px;
    background: #E8FD96;
    color: #fff;
    border: 20px solid #A1D76F;
    text-align: center;
}

p {
    margin: 0;
}





.clear {
    clear: both;
}
