#contenu {
    width: 80%;
    margin: 0 auto;
    font-family: cursive;
    border: 2px solid black;
    text-align: center;
}

header, footer {
    height: 80px;
    background: #F33535;
    padding-top: 5px;
}

nav {
    height: 40px;
    background: #D8E9F0;
    padding-left: 20px;
    padding-top: 6px;
}

section {
    background: #33425B;
    margin: 20px;
}

.a, .b, .c, .d, .e, .f, .g, .h {
    float: left;
    height: 250px;
    
}

.a, .c, .h, .e, .g {
    width: 30%;
}

.b, .f {
    width: 40%;
}

.d {
    width: 100%;
}

.h, .g {
    width: 30%;
}

.a, .g {
    background: red;
}

.b {
    background: green;
}

.c {
    background: pink;
}

.d {
    background: brown;
}

.e {
    background: yellow;
}

.f {
    background: purple
}






p {
    margin: 0;
}





.clear {
    clear: both;
}
